<%- include('./partials/header.ejs')%>
    <main class="about">
        <p>About Nihon Club Connections Site</p>
        <p>The Nihon Club Connections site is for members to create Nihon Club events and to connect with other members. Come and find long lasting friendships, study Japanese, or find out interesting things about the Japanese cultures</p>
        <p>Check out the Connections section to browse available connections!</p>
    </main>
    <%- include('./partials/footer.ejs')%>