<%- include('./partials/header.ejs')%>
    <main class="contact">
        <p>Contact US</p>
        <p>Address - 9201 University City Blvd, Charlotte, NC 28223</p>
        <p>Phone - (111)222-3333</p>
    </main>
    <%- include('./partials/footer.ejs')%>