<%- include('./partials/header.ejs')%>
    <main class="index">
        <p>Welcome to the Nihon Club Connections Site.</p>
        <p>Attend and create Nihon Club events to connect with people. Come and find long lasting friendships, study Japanese, or find out interesting things about the Japanese cultures</p>
        <p>Check out the Connections section to browse available connections!</p>
    </main>
    <%- include('./partials/footer.ejs')%>